email=devopstrainingblr@gmail.com
always-auth=true
#_auth=YWRtaW46YWRtaW4xMjM=
#//registry.npmjs.org/:_auth=YWRtaW46YWRtaW4xMjM=
#allowRepublish=true
registry=http://54.226.196.250:8081/repository/npm-repo/
_auth=YWRtaW46YWRtaW4xMjM=

